.section-about {
  width: 100%;
  height: 100%;
  padding-top: 30px;

  &__caption {
    margin-bottom: 60px;
  }
  &__block {
    margin-bottom: 80px;
    &--reverse {
      margin-bottom: 200px;
    }
  }
  &__title {
    margin-bottom: 50;
  }
}