@use 'variables' as v;

*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: v.$base-font-size;
  background-color: #060606;
}

body {
  font-family: v.$primary-font;
  background-color: #060606;
}

.container {
  width: 100%;
  max-width: calc(1290px + v.$mobile-container-padding-x);
  padding: {
    left: v.$mobile-container-padding-x;
    right: v.$mobile-container-padding-x;
  }
  margin: {
    left: auto;
    right: auto;
  }
}
